@import url("https://rsms.me/inter/inter-ui.css");
html, body {
  font-size: 16px;
}

@media (min-width: 992px) {
  html, body {
    font-size: 18px;
  }
}

body {
  overflow-x: hidden;
  background-color: #f8f9fa;
}

p {
  font-family: "Inconsolata", "Courier New", Courier, monospace;
  line-height: 1.75;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.link--inline {
  color: #212529;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #99e9f2), to(#99e9f2));
  background: linear-gradient(to bottom, #99e9f2 0, #99e9f2 100%);
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 30% 30%;
}

.link--inline:hover, .link--inline:focus {
  background-size: 100% 100%;
}

.link--inline:hover {
  color: #212529;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Inter UI", Helvetica, Arial, sans-serif;
}

.h1 {
  font-weight: 800;
  text-transform: none;
}

.h2 {
  padding: 0;
  margin: 0;
  font-size: 2.2rem;
  font-weight: 700;
  position: relative;
  color: #343a40;
  letter-spacing: -.02em;
  /*
    &:before,
    &:after {
      content: '{';
      padding-right: 5px;
      display: inline-block;
      position: relative;
      top: 1px;
      height: 100%;
      font-size: 4rem;
      color: $aqua;
      transition: all 0.5s ease;
    }
    &:after {
      content: '}';
      padding-left: 5px;
    }
    &:hover:before {
      transform: translate(-5px);
    }
    &:hover:after {
      transform: translate(5px);
    }
    */
}

.h2.text-right {
  right: 10%;
}

.h2.text-left {
  left: 10%;
}

@media (min-width: 768px) {
  .h2 {
    font-size: 2.6rem;
  }
}

.h3 {
  font-size: 1.5rem;
}

.section {
  position: relative;
  padding: 48px 16px;
}

.section .section-title {
  margin-top: 24px;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .section {
    margin-bottom: 2.4rem;
  }
}

.section h2 {
  position: relative;
}

@media (min-width: 768px) {
  .section {
    width: calc(100vw - 96px);
    margin: 0 auto;
    min-height: 100vh;
    overflow-y: hidden;
    padding: 96px 16px;
  }
}

.btn,
button {
  font-family: "Inter UI", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-radius: 2px;
}

.btn:active, .btn:focus, .btn:focus:active, .btn:hover,
button:active,
button:focus,
button:focus:active,
button:hover {
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-primary {
  background-color: #f06595;
  border-color: #f06595;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:focus:active, .btn-primary:hover {
  background-color: #455d7a !important;
  border-color: #455d7a !important;
  color: #fff;
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

::-moz-selection {
  background: #fcc2d7;
  text-shadow: none;
}

::selection {
  background: #fcc2d7;
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: #fcc2d7;
}

.container {
  height: 100%;
  position: relative;
  padding: 0;
}

@media (min-width: 576px) {
  .container {
    max-width: 600px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

.waves {
  fill: none;
  stroke: #f06595;
  stroke-width: 5px;
  width: 50px;
  position: relative;
}

.waves--right {
  right: 10%;
}

.waves--left {
  left: 10%;
}

.row {
  margin: 0;
}

.bounce {
  -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  60% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  60% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
}

.text--primary {
  color: #f06595;
}

.text--accent {
  color: #5c7cfa;
}

.navbar {
  background-color: #f8f9fa;
  padding: 0 1rem;
}

.navbar .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 10px;
  color: #334459;
}

.navbar .navbar-toggler .feather {
  color: #334459;
}

.navbar .navbar-toggler:focus, .navbar .navbar-toggler:hover, .navbar .navbar-toggler:active {
  color: #f06595;
}

.navbar .navbar-toggler:focus .feather, .navbar .navbar-toggler:hover .feather, .navbar .navbar-toggler:active .feather {
  color: #f06595;
}

.navbar .show .nav-link {
  margin: 12px;
}

.navbar .navbar-brand {
  color: #343a40;
  font-size: 1.4rem;
  font-family: "Inter UI", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.navbar .navbar-brand.active, .navbar .navbar-brand:active, .navbar .navbar-brand:focus, .navbar .navbar-brand:hover {
  color: #f06595;
}

@media (min-width: 768px) {
  .navbar .navbar-brand {
    font-size: 1.6rem;
  }
}

.navbar .navbar-nav {
  padding: 16px 0;
}

.navbar .navbar-nav .nav-item:not(.contact-item) a {
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #fcc2d7), to(#fcc2d7));
  background: linear-gradient(to right, #fcc2d7 0, #fcc2d7 100%);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 45%;
}

.navbar .navbar-nav .nav-item:not(.contact-item) a:hover, .navbar .navbar-nav .nav-item:not(.contact-item) a:focus {
  background-size: 100% 45%;
}

.navbar .navbar-nav .nav-item .nav-link {
  font-family: "Inconsolata", "Courier New", Courier, monospace;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  padding: 0;
  letter-spacing: 1px;
  color: #1a2531;
  display: inline-block;
}

.navbar .navbar-nav .nav-item .nav-link.active {
  background-size: 100% 45%;
}

@media (min-width: 768px) {
  .navbar {
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
  }
  .navbar .navbar-brand {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 0;
    margin: 16px;
  }
  .navbar.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #f4f6f9;
  }
  .navbar.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

.contact-link .feather {
  width: 18px;
  height: 18px;
}

.contact-item:hover .feather {
  fill: #fcc2d7;
}

.navbar-collapse .navbar-nav {
  background-color: #f8f9fa;
}

@media (min-width: 768px) {
  .navbar-collapse .navbar-nav {
    margin-left: auto;
  }
}

.navbar-collapse.show .navbar-nav {
  height: 100vh;
  width: 100vw;
  margin-right: -16px;
  margin-left: -16px;
  position: absolute;
  padding-left: 40px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.navbar-collapse.show .navbar-nav .nav-item {
  padding: 8px 0;
}

.navbar-collapse.show .navbar-nav .nav-link {
  display: inline;
}

header.masthead {
  text-align: left;
  color: #1a2531;
  position: relative;
  background-image: none;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

header.masthead .intro {
  position: absolute;
  bottom: 20%;
  left: 1rem;
  color: #343a40;
}

@media (min-width: 768px) {
  header.masthead .intro {
    left: 0;
  }
}

header.masthead .intro .display-2 {
  font-family: "Inter UI", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: -.03em;
  font-size: 2.2rem;
  line-height: 1;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  header.masthead .intro .display-2 {
    font-size: 2.6rem;
  }
}

header.masthead .intro .display-3 {
  font-family: "Inconsolata", "Courier New", Courier, monospace;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.4;
}

@media (min-width: 768px) {
  header.masthead .intro .display-3 {
    font-size: 1.3rem;
  }
}

header.masthead .intro .btn {
  margin-top: 1.5rem;
}

.scroll-icon {
  position: absolute;
  left: calc(50% - 25px);
  bottom: 25px;
  z-index: 99;
  font-size: 11px;
  text-align: center;
  vertical-align: middle;
  font-family: "Inconsolata", "Courier New", Courier, monospace;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.scroll-icon .arrow {
  font-size: 12px;
  margin-right: 5px;
  display: inline-block;
}

.page-footer {
  height: 46px;
  text-align: center;
  width: 100%;
  background-color: transparent;
}

.page-footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Vision', Helvetica, Arial, sans-serif;
}

.page-footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Vision', Helvetica, Arial, sans-serif;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #f06595;
}

#about .my-profile {
  padding: 0 16px;
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
}

@media (min-width: 768px) {
  #about .my-profile {
    max-width: 500px;
    margin: 0 0 0 auto;
  }
}

#about .my-profile img {
  width: 100%;
  height: 100%;
  z-index: -1;
}

#contact .section-title {
  text-align: center;
}

#contact h2 {
  margin: 0 auto;
  text-align: center;
  left: 0;
  right: 0;
}

#contact #contactForm label {
  color: #334459;
  font-family: "Inconsolata", "Courier New", Courier, monospace;
  font-size: 1rem;
  line-height: 1;
}

#contact #contactForm .label-required:after {
  content: "*";
  color: #f06595;
  margin-left: 0.1rem;
}

#contact #contactForm .form-group {
  margin-bottom: 1.2rem;
}

#contact #contactForm .form-group input,
#contact #contactForm .form-group textarea {
  padding: 10px;
}

#contact #contactForm .form-group input.form-control {
  height: auto;
}

#contact #contactForm .form-group textarea.form-control {
  height: 248px;
}

#contact #contactForm .form-control {
  font-family: "Inter UI", Helvetica, Arial, sans-serif;
  font-weight: 300;
  border-radius: 0;
}

#contact #contactForm .form-control:focus {
  border-color: #334459;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#contact #contactForm ::-webkit-input-placeholder {
  font-family: "Inter UI", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #ced4da;
}

#contact #contactForm :-moz-placeholder {
  font-family: "Inter UI", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #ced4da;
}

#contact #contactForm ::-moz-placeholder {
  font-family: "Inter UI", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #ced4da;
}

#contact #contactForm :-ms-input-placeholder {
  font-family: "Inter UI", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #ced4da;
}

@media (min-width: 992px) {
  #contactForm {
    max-width: 75%;
    margin: 0 auto;
  }
}

#projects .card-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #212529;
}

#projects .project-grid {
  padding: 16px 0;
}

@media (min-width: 768px) {
  #projects .project-grid {
    max-width: 600px;
  }
}

@media (min-width: 992px) {
  #projects .project-grid {
    max-width: 100%;
  }
}

#projects .project-card {
  right: 0;
  margin: 0 auto 24px;
  height: 300px;
  border-color: transparent;
  max-width: 260px;
  border-radius: 0;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

@media (min-width: 768px) {
  #projects .project-card {
    margin-bottom: 30px;
  }
}

#projects .project-card:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#projects .project-card:hover .card-footer .card-footer__text {
  color: #1a2531;
}

#projects .project-card:hover .card-footer .feather {
  color: #1a2531;
}

#projects .project-card .card__tags {
  line-height: 1.1;
  font-size: 11px;
}

#projects .project-card .project-tag {
  padding: 0;
  font-size: 11px;
  letter-spacing: .02em;
  margin: .25em .15em .25em .25em;
  border: none;
}

#projects .project-card .project-tag--dev {
  color: #f06595;
}

#projects .project-card .project-tag--des {
  color: #5c7cfa;
}

#projects .project-card .project-overview {
  font-size: 14px;
  width: 100%;
  color: #334459;
  padding: 0;
  line-height: 1.5;
}

#projects .project-card .project-link {
  position: absolute;
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  cursor: pointer;
}

#projects .project-card .project-link .project-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
}

#projects .project-card .project-link .project-overlay:hover {
  opacity: 1;
}

#projects .project-card .project-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fff;
}

#projects .project-card .project-caption h4 {
  margin: 0;
  text-transform: none;
}

#projects .project-card .project-caption p {
  font-size: 16px;
  font-family: "Inconsolata", "Courier New", Courier, monospace;
  margin: 0;
}

#projects .card-footer {
  border-top: none;
  background-color: transparent;
  padding-top: 0;
}

#projects .card-footer .card-footer__text {
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: "Inter UI", Helvetica, Arial, sans-serif;
  letter-spacing: 0.02em;
  color: #868e96;
  font-weight: 500;
}

#projects .card-footer .feather {
  color: #868e96;
}

.project-modal {
  padding-right: 0px !important;
}

.project-modal .modal-dialog {
  margin: 0;
  max-width: 100vw;
}

.project-modal .modal-content {
  padding: 32px 0;
  border-radius: 0;
  border: none;
  min-height: 100vh;
}

.project-modal .modal-content .project-details__title {
  font-size: 1.4rem;
  margin-bottom: 15px;
  text-align: center;
}

@media (min-width: 768px) {
  .project-modal .modal-content .project-details__title {
    font-size: 1.6rem;
  }
}

.project-modal .modal-content .h4 {
  font-size: .85rem;
  margin-bottom: 8px;
  font-weight: 700;
}

.project-modal .modal-content p {
  margin-bottom: 1.6rem;
  font-size: .9rem;
  line-height: 1.6;
  font-family: "Inter UI", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.project-modal .modal-content .project-overview {
  font-size: .8rem;
  font-weight: 300;
  text-align: center;
  margin: 16px 0 24px;
  font-family: "Inconsolata", "Courier New", Courier, monospace;
}

.project-modal .modal-content img {
  margin-bottom: 30px;
}

.project-modal .modal-content button {
  cursor: pointer;
}

.project-modal .modal-content .project-details__header {
  font-size: .8rem;
  text-transform: uppercase;
  text-align: center;
  margin: 1.5rem 0 .5rem;
}

.project-modal .modal-content .project__list {
  font-family: "Inter UI", Helvetica, Arial, sans-serif;
  font-weight: 300;
  -webkit-padding-start: 24px;
          padding-inline-start: 24px;
}

.project-modal .modal-content .project__list li {
  font-size: .8rem;
}

.project-modal .close-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  line-height: 1;
  cursor: pointer;
  background-color: transparent;
}

.project-modal .close-modal:hover {
  opacity: 0.3;
}

.project-modal .close-modal .feather {
  width: 1.5rem;
  height: 1.5rem;
}

.project-modal .btn-wrapper {
  text-align: center;
  margin-top: 32px;
}

.project-details__tags {
  text-align: center;
}

.project-tag {
  font-size: 14px;
  line-height: 1;
  display: inline-block;
  padding: .4em .85em;
  border-radius: 5000px;
  margin: .25em;
  font-family: "Inconsolata", "Courier New", Courier, monospace;
  color: #495057;
  border: 2px solid transparent;
}

.project-tag--dev {
  color: #f06595;
  border-color: #fcc2d7;
}

.project-tag--des {
  color: #5c7cfa;
  border-color: #bac8ff;
}

.project__btn {
  font-size: 14px;
}

.project__btn .feather {
  width: 20px;
  height: 20px;
  margin-left: 4px;
}

#skills .h3 {
  margin: 0 0 24px 0;
  text-align: center;
}

#skills ul {
  list-style-type: none;
  padding: 0;
  font-family: "Inconsolata", "Courier New", Courier, monospace;
}

#skills .skill-set {
  margin: 0 auto;
  text-align: center;
}

#skills .skill-set li {
  color: #495057;
}

#skills .skill-set .skill-set__group {
  text-align: left;
  padding-left: 0;
  font-size: 0;
}

#skills .skill {
  font-size: 16px;
  line-height: 1;
  border-radius: 5000px;
  margin: 2px;
  font-family: "Inconsolata", "Courier New", Courier, monospace;
  color: #495057;
  border: 1px solid transparent;
}

#skills .skill-bar {
  height: 1rem;
  width: 75%;
  border: 1px solid #f783ac;
  border-radius: 5px;
  margin-bottom: .5rem;
  display: inline-block;
  text-align: center;
  overflow: hidden;
}

#skills .skill-bar .skill-bar-inner {
  height: 1rem;
  background: #f783ac;
  display: block;
  vertical-align: middle;
}

#skills .split-col {
  padding: 0px;
  margin: 8px 0;
}

@media (min-width: 576px) {
  #skills .split-col {
    padding: 8px;
    margin: 0;
  }
}

@media (min-width: 768px) {
  #skills .split-col {
    padding: 16px;
  }
}

#skills .split-content {
  padding: 24px 16px;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  max-width: 320px;
  margin: 0 auto;
  background-color: #fff;
}

#skills .split-left h3 {
  color: #f06595;
}

#skills .split-right h3 {
  color: #5c7cfa;
}

@media (min-width: 992px) {
  #skillsChart {
    max-width: 80%;
    margin: 0 auto;
  }
}

.bar-95 {
  width: 95%;
}

.bar-90 {
  width: 90%;
}

.bar-85 {
  width: 85%;
}

.bar-80 {
  width: 80%;
}

.bar-70 {
  width: 70%;
}

.bar-75 {
  width: 75%;
}

.bar-65 {
  width: 65%;
}

.bar-60 {
  width: 60%;
}
/*# sourceMappingURL=styles.css.map */