// Styling for About section

#about {
  .my-profile {
    padding: 0 16px;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    @include md {
      max-width: 500px;
      margin: 0 0 0 auto;
    }
    img {
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }
}

