// Styling for the contact section
#contact {
  h2 {
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  #contactForm {
    label {
      color: $smog;
      font-family: $body-font;
      font-size: 1rem;
      line-height: 1;
    }
    .label-required:after {
      content: "*";
      color: $primary;
      margin-left: 0.1rem;
    }
    .form-group {
      margin-bottom: 1.2rem;
      input,
      textarea {
        padding: 10px;
      }
      input.form-control {
        height: auto;
      }
      textarea.form-control {
        height: 248px;
      }
    }
    .form-control {
      font-family: $heading-font;
      font-weight: 300;
      border-radius: 0;
      &:focus {
        border-color: $smog;
        box-shadow: none;
      }
    }

    ::-webkit-input-placeholder {
      font-family: $heading-font;
      font-weight: 300;
      font-style: italic;
      color: $gray-400;
    }
    :-moz-placeholder {
      font-family: $heading-font;
      font-weight: 300;
      font-style: italic;
      color: $gray-400;
    }
    ::-moz-placeholder {
      font-family: $heading-font;
      font-weight: 300;
      font-style: italic;
      color: $gray-400;
    }
    :-ms-input-placeholder {
      font-family: $heading-font;
      font-weight: 300;
      font-style: italic;
      color: $gray-400;
    }
  }
}

@media (min-width: 992px) {
  #contactForm {
    max-width: 75%;
    margin: 0 auto;
  }
}

.contact-info {
  list-style: none;
  display: flex;
  max-width: 200px;
  padding: 0;
  justify-content: space-between;
  .contact-item {
    .contact-link {
      color: $gray-700;
    }
    .feather {
      width: 24px;
      height: 24px;
    }
  }
}