// Styling for the Skills section

#skills {
  .h3 {
    margin: 0 0 24px 0;
    text-align: center;
  }
  ul {
    list-style-type: none;
    padding: 0;
    font-family: $body-font;
  }
  .skill-set {
    margin: 0 auto;
    text-align: center;
    li {
      color: $gray-700;
    }
    .skill-set__group {
      text-align: left;
      padding-left: 0;
      font-size: 0;
    }
  }
  .skill {
    font-size: 16px;
  line-height: 1;
  border-radius: 5000px;
  margin: 2px;
  font-family: $body-font;
  color: $gray-700;
  border: 1px solid transparent;
  }
  .skill-bar {
    height: 1rem;
    width: 75%;
    border: 1px solid $md-primary;
    border-radius: 5px;
    margin-bottom: .5rem;
    display: inline-block;
    text-align: center;
    overflow: hidden;
      .skill-bar-inner {
        height: 1rem;
        background: $md-primary;
        display: block;
        vertical-align: middle;
      }
  }
  .split-col {
    padding: 0 16px;
    margin: 16px 0;
    @include sm {
      padding: 8px;
      margin: 0;
    }
    @include md {
      padding: 16px;
    }
  }
  .split-content {
    padding: 24px 16px;
    // @include box-shadow("sm");
    max-width: 300px;
    margin: 0 auto;
    background-color: rgba($white, .6);
    border: 1.5px solid $gray-600;
  }
  .split-left {
    h3 {
      color: $primary;
    }
  }
  .split-right {
    h3 {
      color: $accent;
    }
  }
}

@media(min-width:992px) {
    #skillsChart {
        max-width: 80%;
        margin: 0 auto;
    }
}
.bar-95 {
  width: 95%;
}
.bar-90 {
  width: 90%;   
}
.bar-85 {
  width: 85%;
}
.bar-80 {
  width: 80%;
}
.bar-70 {
  width: 70%;    
}
.bar-75 {
  width: 75%;
}
.bar-65 {
  width: 65%;
}
.bar-60 {
  width: 60%;  
}