// Styling for the Skills section

#skills {
  .h3 {
    margin: 0 0 24px 0;
    text-align: center;
  }
  .skill-set {
    margin: 0 auto;
    text-align: center;
    ul {
      list-style-type: none;
      text-align: center;
      padding-left: 0;
    }
    li {
      padding: 0;
      font-family: $body-font;
    }
  }
  .skill-bar {
    height: 1rem;
    width: 75%;
    border: 1px solid $md-primary;
    border-radius: 5px;
    margin-bottom: .5rem;
    display: inline-block;
    text-align: center;
    overflow: hidden;
      .skill-bar-inner {
        height: 1rem;
        background: $md-primary;
        display: block;
        vertical-align: middle;
      }
  }
  .split-col {
    padding: 16px;
    @include sm {
      padding: 8px;
    }
    @include md {
      padding: 16px;
    }
  }
  .split-content {
    padding: 24px 16px;
    @include box-shadow(1);
    max-width: 320px;
    margin: 0 auto;
  }
  .split-left {
    background: $smog;
    h3 {
      color: #fff;
      -webkit-font-smoothing: antialiased;
    }
    .skill-set {
      li {
        color: #fff;
      }
      #skillOne {
        width: 90%;   
      } 
      #skillTwo {
        width: 85%;
      }
      #skillThree {
        width: 80%;    
      }
      #skillFour {
        width: 80%;
      }
      #skillFive {
        width: 95%;  
      }
      #skillSix {
        width: 90%;
      }
    }
  }
  .split-right {
    background: $white;
    h3 {
      color: $md-smog;
    }
    .skill-set {
      li {
        color: $smog;
      }
      #skillSeven {
        width: 90%;
      } 
      #skillEight {
        width: 85%;
      }
      #skillNine {
        width: 80%;    
      }
      #skillTen {
        width: 80%;
      }
      #skillEleven {
        width: 95%;  
      }
      #skillTwelve {
        width: 90%;
      }
    }
  }
}

@media(min-width:992px) {
    #skillsChart {
        max-width: 75%;
        margin: 0 auto;
    }
}