// Styling for the masthead
header.masthead {
  text-align: left;
  color: $dk-smog;
  position: relative;
  background-image: none;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  @include background-cover;
  @include md {
    width: calc(100vw - 96px);
    width: calc(100vw - 96px);
    padding: 0 16px;
    margin: 0 auto;
  }
  .intro {
    position: absolute;
    bottom: 30%;
    width: 100%;
    padding: 1rem;
    color: $gray-800;
    @include md {
      left: 0;
    }
    .display-1 {
      font-family: $heading-font;
      font-weight: 700;
      letter-spacing: -.1em;
      font-size: 2.8rem;
      line-height: 1.2;
      margin-bottom: 24px;
      @include md {
        font-size: 3.4rem;
      }
    }
    .display-2 {
      font-family: $body-font;
      font-size: 1.1rem;
      font-weight: 300;
      line-height: 1.4;
      @include md {
        font-size: 1.3rem;
      }
    }
    .btn {
      margin-top: 1.5rem; 
    }
  }
}

.scroll-icon {
  position: absolute;
  left: calc(50% - 47px);
  bottom: 47px;
  z-index: 99;
  font-size: 11px;
  text-align: center;
  vertical-align: middle;
  font-family: $body-font;
  transform: rotate(-90deg);
  .arrow {
    font-size: 12px;
    margin-right: 5px;
    display: inline-block;
  }
}


