// Styling for the masthead
header.masthead {
  text-align: left;
  color: $dk-smog;
  position: relative;
  background-image: none;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  @include background-cover;
  .intro {
    position: absolute;
    bottom: 20%;
    left: 5%;
    color: $dk-smog;
    .display-2 {
      font-family: $heading-font;
      font-weight: 500;
      letter-spacing: -.03em;
      font-size: 1.8rem;
      line-height: .75;
      margin-bottom: 24px;
      @include md {
        font-size: 2.2rem;
      }
    }
    .display-3 {
      font-family: $body-font;
      font-size: 1.1rem;
      font-weight: 300;
      line-height: 1.4;
      @include md {
        font-size: 1.3rem;
      }
    }
    .btn {
      margin-top: 1.5rem; 
    }
  }
}

.scroll-icon {
  position: absolute;
  left: calc(50% - 25px);
  bottom: 25px;
  z-index: 99;
  font-size: 11px;
  text-align: center;
  vertical-align: middle;
  font-family: $body-font;
  transform: rotate(-90deg);
  .arrow {
    font-size: 12px;
    margin-right: 5px;
    display: inline-block;
  }
}