// Styling for the navbar
.navbar {
  background-color: $gray-000;
  padding: 0 1rem;
  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 10px;
    color: $smog;
    .feather {
      color: $smog;
    }
    &:focus,
    &:hover,
    &:active {
      color: $primary;
      .feather {
        color: $primary;
      }
    }
  }
  .show {
    .nav-link {
      margin: 12px;
    }
  }
  .navbar-brand {
    color: $smog;
    font-size: 16px;
    font-family: $heading-font;
    text-transform: uppercase;
    font-weight: 300;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: $primary;
    }
    b {
      font-weight: 700;
    }
  }
  .navbar-nav {
    padding: 16px 0;
    .nav-item {
      &:not(.contact-item) {
       a {
        @include highlight(x, $lt-primary, 45%);
       }
      }
      margin: auto;
      .nav-link {
        font-family: $body-font;
        font-size: 16px;
        line-height: 1;
        font-weight: 400;
        padding: 0;
        letter-spacing: 1px;
        color: $dk-smog;
        &.active { 
          background-size: 100% 45%; 
        }
      }
    }
  }
  @include md {
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    .navbar-brand {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 0;
          margin: 16px;
        }
      }
    }
    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: $feather;
      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
      }
    }
  }
  }

  .contact-link {
    .feather {
      width: 18px;
      height: 18px;
    }
  }

  .contact-item:hover {
    .feather {
      fill: $lt-primary;
    }
  }

  .navbar-collapse {
    &.show {
      .navbar-nav {
        background-color: $white;
        @include box-shadow(1);
      }
    }
  }