

html, body {
  font-size: 16px;
  @include lg {
    font-size: 18px;
  }
}

body {
  overflow-x: hidden;
  background-color: $gray-000;
}

p {
  font-family: $body-font;
  line-height: 1.75;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.link--inline {
    color: $gray-900;
    font-weight: 500;
    @include highlight(y, $lt-accent-2, 30%);
    &:hover {
      color: $gray-900;
    }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $heading-font;
}

.h1 {
  font-weight: 800;
  text-transform: none;
}

.h2 {
  padding: 0;
  margin: 0;
  font-size: 2.2rem;
  font-weight: 700;
  position: relative;
  color: $gray-800;
  letter-spacing: -.02em;
  &.text-right {
    right: 10%;
  }
  &.text-left {
    left: 10%;
  }
  @include md {
    font-size: 2.6rem;
  }
  /*
    &:before,
    &:after {
      content: '{';
      padding-right: 5px;
      display: inline-block;
      position: relative;
      top: 1px;
      height: 100%;
      font-size: 4rem;
      color: $aqua;
      transition: all 0.5s ease;
    }
    &:after {
      content: '}';
      padding-left: 5px;
    }
    &:hover:before {
      transform: translate(-5px);
    }
    &:hover:after {
      transform: translate(5px);
    }
    */
  }

.h3 {
  font-size: 1.5rem;
}

.section {
  position: relative;
  padding: 48px 16px;
  .section-title {
    margin-top: 24px;
    margin-bottom: 2rem;
    }
    @include md {
      margin-bottom: 2.4rem;
    }
  h2 {
    position: relative;
  }
  @include md {
    width: calc(100vw - 96px);
    margin: 0 auto;
    min-height: 100vh;
    overflow-y: hidden;
    padding: 96px 16px;
  }
}

// Button Styles
.btn, 
button {
  font-family: $heading-font;
  font-weight: 300;
  font-size: 16px;
  border-radius: 2px;
  &:active, 
  &:focus,
  &:focus:active,
  &:hover {
    outline: none;
    box-shadow: none !important;
  }
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  &:active,
  &:focus,
  &:focus:active,
  &:hover {
    background-color: $lt-smog !important;
    border-color: $lt-smog !important;
    color: $white;
    outline: none;
    box-shadow: none !important;
}
}

// Highlight color customization
::-moz-selection {
  background: $lt-primary;
  text-shadow: none;
}

::selection {
  background: $lt-primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: $lt-primary;
}

// Icon Styles

.container {
  height: 100%;
  position: relative;
  padding: 0;
  @include sm {
    max-width: 600px;
  }
  @include md {
    max-width: 720px;
  }
  @include lg {
    max-width:960px;
  }
  @include xl {
    max-width: 960px;
  }
}

.waves {
  fill: none;
  stroke: $primary;
  stroke-width: 5px;
  width: 50px;
  position: relative;
  &--right {
    right: 10%;
  }
  &--left {
    left: 10%;
  }
}

.row {
  margin: 0;
}