// Variables
@import url('https://rsms.me/inter/inter-ui.css');
// Colors

$white: #fff !default;
$gray-000: #f8f9fa;
$gray-100: #f1f3f5 !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$dk-primary: #c2255c;
$primary: #f06595 !default;
$lt-primary: #fcc2d7;
$md-primary: #f783ac;
$smog: #334459;
$lt-smog: #455d7a;
$md-smog: #233142;
$dk-smog: #1a2531;
$feather: #f4f6f9;
$lt-blue: #b9d9ff;

$lt-accent: #bac8ff;
$md-accent: #748ffc;
$accent: #5c7cfa !default;
$dk-accent: #3b5bdb;

$lt-accent-2: #99e9f2;
$md-accent-2: #3bc9db;
$accent-2: #22b8cf;
$dk-accent-2: #0c8599;

// Fonts
$heading-font: 'Inter UI', Helvetica, Arial, sans-serif;
$body-font: 'Inconsolata', 'Courier New', Courier, monospace;
$link-font: 'Inconsolata', 'Courier New', Courier, monospace;

// Breakpoints (Bootstrap)
// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$screen-xs-min: 425px;  // Tiny phones
$screen-sm-min: 576px;  // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px;  // Small tablets (portrait view)
$screen-lg-min: 992px;  // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops
$screen-xx-min: 1440px;

$x: x;
$y: y;